<ion-view title="Page" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <form id="page-form2" class="list">
      <ion-checkbox id="page-checkbox1">Checkbox</ion-checkbox>
      <ion-checkbox id="page-checkbox2">Checkbox</ion-checkbox>
      <label class="item item-input" id="page-input3">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <ion-radio id="page-radio1">Radio</ion-radio>
      <ion-item class="range range-positive" id="page-range1">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </form>
  </ion-content>
</ion-view>