<ion-view title="首页" id="page1" style="background-color:#92919E;">
  <ion-content padding="true" class="has-header">
    <h4 id="page1-heading1" style="color:#A10D0D;text-align:center;" class="aaa">欢迎来到王者荣耀</h4>
    <div id="page1-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">你好 今天太热了 ！！！！！</p>
    </div>
    <div id="page1-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">你好 今天太热了 ！！！！！</p>
    </div>
    <div id="page1-button-bar1" class="button-bar">
      <button id="page1-button4" class="button button-positive button-block">1</button>
      <button id="page1-button7" class="button button-positive button-block">1</button>
      <button id="page1-button6" class="button button-positive button-block">3</button>
    </div>
    <div id="page1-container1">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page1-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="page1-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page1-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page1-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>